* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-image: url('../images/background.jpeg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    font-weight: 500;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}